.site-footer {
	background-color: #fff;
	border-top: 2px solid $brand-color-1;
}
#footer-widgets {
	max-width: 1080px;
	margin: auto;
	padding: 40px 0;
	.sponsor-logo {
		img {
			height: 40px;
			width: auto;
			margin: 0 10px;
		}
	}
	.sponsor-level-title {
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.sponsor-level {
	    margin-bottom: 20px;
	    padding-bottom: 20px;
		border-bottom: 2px solid #ddd;
	}	
}
#footer-widgets:after {
	@include clearfix;
}
#footer-widget-1,
#footer-widget-2,
#footer-widget-3,
#footer-widget-4 {
	width: 25%;
	display: block;
	float: left;
	.widget-title {
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 16px;
	}
	.menu {
		list-style: none;
		margin-left: 0;
		font-size: 1rem;
	}
	li {
		margin-bottom: 6px;
	}
}

#footer-widget-5 {
	width: 100%;
	display: block;
	float: left;
	text-align: center;
	padding: 20px 0;
	.widget-title {
		position: relative;
		font-size: 1.2rem;
		font-weight: 700;
		// margin-bottom: 50px;
	}
	// .widget-title:after {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	margin-top: 42px;
	// 	margin-left: -5px;
	// 	left: 50%;
	// 	width: 10px;
	// 	height: 10px;
	// 	background-color: $brand-color-1;
	// 	border-radius: 5px;
	// }
	// .widget-title:before {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	margin-top: 40px;
	// 	margin-left: -7px;
	// 	top: 0;
	// 	left: 50%;
	// 	width: 14px;
	// 	height: 14px;
	// 	background-color: $brand-color-3;
	// 	border-radius: 7px;
	// }
	.menu {
		list-style: none;
		margin-left: 0;
		font-size: 1rem;
	}
	li {
		margin-bottom: 6px;
	}
}
.widget img.footer-wapoolaba {
	max-width: 180px;
}
.site-info {
	background-color: $brand-color-4;
	// max-width: 1080px;
	margin: auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	p,
	a {
		display: inline-block;
		color: #fff;
		font-size: 1rem;
		// padding-left: 0 10px;
	}
	a:first-child {
		padding-right: 20px;
		margin-right: 12px;
		border-right: 2px solid #fff;
	} 
}
.wcb_widget_sponsors .sponsor-logo {
	display: inline-block !important;
}
@media screen and (max-width: 992px) {
    #footer-widget-1,
	#footer-widget-2,
	#footer-widget-3,
	#footer-widget-4 {
		width: 50%;
	}
	#footer-widgets {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 768px) {
    #footer-widget-1,
	#footer-widget-2,
	#footer-widget-3,
	#footer-widget-4 {
		width: 100%;
	}
}
