.site-footer {
	background-color: $brand-color-4;
}
#footer-widgets {
	max-width: 1080px;
	margin: auto;
}
.site-info {
	max-width: 1080px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	p,
	a {
		color: #fff;
	}
}