form.contact-form {
	font-size: 1rem;
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
	    margin-bottom: 20px;
	    border: 2px solid #eee;
	    border-radius: 2px;
	    padding: 8px 12px;
	}
	input[type="submit"] {
		@extend .button;
		background: none;
		background-color: $brand-color-3;
		border-color: $brand-color-3;
		color: $brand-color-white;
		background: #DC6A36;
	    box-shadow: none;
	    text-shadow: none;
		@include transition;
	}
}
#tix {
	.tix-column-remaining {
		display: none;
	}
	th,
	td {
		padding-bottom: 1rem;
	}
	td:first-child {
		padding-right: 40px;
	}
	td:last-child {
		padding-right: 0;
	}
	input[type="text"],
	input[type="email"],
	select,
	textarea {
		border: 2px solid #eee;
		width: 100%;
		padding: 8px 12px;
	}
	input[type="submit"] {
		@extend .button;
		background: none;
		background-color: $brand-color-3;
		border-color: $brand-color-3;
		color: $brand-color-white;
		background: #DC6A36;
	    box-shadow: none;
	    text-shadow: none;
		@include transition;
		text-transform: none;
    	letter-spacing: 1px;	
	}
	#tix-coupon-container {

		input[type="text"] {
			border: 2px solid #eee;
			margin-right: 1rem;
			width: auto;
		}
		input[type="submit"] {
			text-transform: none;
		    letter-spacing: 1px;
		    padding: 9px 10px 10px;
		    font-size: 0.8rem;
		    position: relative;
		    top: -1px;
		}
	}
	.tix-submit {
		select {
			margin-bottom: 20px;
		}
	}
}