form.contact-form {
	font-size: 1rem;
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
	    margin-bottom: 20px;
	    border: 2px solid #DC6A36;
	    border-radius: 2px;
	    padding: 8px 12px;
	}
	input[type="submit"] {
		@extend .button;
		background: none;
		background-color: $brand-color-3;
		border-color: $brand-color-3;
		color: $brand-color-white;
		background: #DC6A36;
	    box-shadow: none;
	    text-shadow: none;
		@include transition;
	}
}
#tix {
	.tix-column-remaining {
		display: none;
	}
	th,
	td {
		padding-bottom: 1rem;
	}
	td:first-child {
		padding-right: 40px;
	}
	input[type="submit"] {
		@extend .button;
		background: none;
		background-color: $brand-color-3;
		border-color: $brand-color-3;
		color: $brand-color-white;
		background: #DC6A36;
	    box-shadow: none;
	    text-shadow: none;
		@include transition;	
	}
}